/* FONTS */

@font-face {
    font-family: "dcrweb-code";
    src:
        url("/theme/fonts/SourceCodePro-Regular/SourceCodePro-Regular.eot")       format("embedded-opentype"),
        url("/theme/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff")  format("woff"),
        url("/theme/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf")       format("truetype");
}

@font-face {
    font-family: "dcrweb";
    src:
        url("/theme/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff") format("woff"),
        url("/theme/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf") format("truetype"),
        url("/theme/fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot") format("embedded-opentype");
}

@font-face {
    font-family: "dcrweb";
    src:
        url("/theme/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff") format("woff"),
        url("/theme/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf") format("truetype"),
        url("/theme/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot") format("embedded-opentype");
    font-weight: bold;
}

@font-face {
    font-family: "dcrweb";
    src:
        url("/theme/fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff") format("woff"),
        url("/theme/fonts/SourceSansPro-It/SourceSansPro-It.ttf") format("truetype"),
        url("/theme/fonts/SourceSansPro-It/SourceSansPro-It.eot") format("embedded-opentype");
    font-style : italic;
}

@font-face {
    font-family: "dcrweb";
    src:
        url("/theme/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff") format("woff"),
        url("/theme/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf") format("truetype"),
        url("/theme/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.eot") format("embedded-opentype");
    font-style : italic;
    font-weight: bold;
}

html, body {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "dcrweb", "Verdana", "sans-serif" !important;
}

pre, code {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "dcrweb-code", "Courier New", "monospace" !important;
}


body {
  background-color: black;
  position: relative;
}

body::after {
  content: "";
  background-image: url(https://user-images.githubusercontent.com/15022929/52274256-69281a80-294c-11e9-84ee-5ba31d8a1078.png);
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* NAVBAR #2970ff;*/

.navbar {
  background-color: #2970ff;
  color: #091440;
  font-size: 1.2rem;
  font-color: white;
  border-bottom: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #1860ee;
}

.navbar a {
  color: white;
}

.navbar button {
  color: white;
}

.navbar-toggler p {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}


.navbar-toggler {
  border: none;
  color: white;
}

.navbar-toggler-icon {
  color: white;
}

.navbar {
  text-align: center;
}

.dropdown-menu {
  color: white;
  background-color: #091440;
  transition: all 0.5s ease-in-out;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.2s;
    max-height: 600px;
    display: block;
    overflow: hidden;
    opacity: 0;
    height: 0px;
}

.dropdown.show .dropdown-menu { /* For Bootstrap 4, use .dropdown.show instead of .dropdown.open */
    max-height: 500x;
    opacity: 1;
    height: 11rem;
}

/* DCRC-HEADER */

.dcr-header {
  text-align: center;
  margin-top: 0px;
  color: white;
  margin-bottom: 30px;
  border-bottom: 10px;
  border-style: solid;
  border-color: #091440;

    background: linear-gradient(-45deg,#091440, #2970ff,#2ED6A1);
    background-size: 200% 200%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 70%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 100%;
    }
}

.sliding-background {
  background: url("https://user-images.githubusercontent.com/15022929/52274256-69281a80-294c-11e9-84ee-5ba31d8a1078.png") repeat-x;
  height: 560px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes .slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

#jumbo {
  background-color: rgba(20, 70, 140,0.5);
  background-image: url(/theme/images/happyStakeys.png);
  background-repeat: no-repeat;
  background-center: center;
  background-size: 100%;
  height: auto;
}

.dcrc-header .card {
  background-color: rgba(20, 70, 140,1);
}

.dcr-header .card img {
  max-width: 100%;
  margin-bottom: 30px;
}

/* COMIC IMG (SQUARES/COVERS) */

.comic-img img {
  margin-top: 30px;
  border-style: solid;
  border-width: 10px;
  border-color: #091440;
  transition: 0.2s;
}

.comic-img img:hover {
  box-shadow: 10px -10px #2970ff;
  transform: translate(-10px,10px);
}

#comics {
  margin-top: 30px;
}

/* FEATURED COMIC */

.featured-comic img {
  border-style: solid;
  border-width: 10px;
  border-color: #091440;
  border-bottom: 0px;
  margin-top: 30px;
}

main {
  padding-bottom: 40px;
  color: white;
}

.dcr-footer {
  background-color: #091440;
  color: white;
}

.footer-copyright {
  background-color: #2970ff;
}

.footer-copyright a{
  color: white;
}

.with-tickets {
  text-shadow: 0px 2px 4px #ccc, 1px 1px 0 #ccc, 0px 2px 0 #ccc;
  font-size: 3rem;
  text-align: center;
}

/* CONTENT ARTICLE */
.content {
  margin-top: 30px;
}

.content p img {
  max-width: 100%;
  border-style: solid;
  border-width: 10px;
  border-color: #091440;
  border-bottom: 0px;
}
