/* FONTS */

@font-face {
    font-family: "dcrweb-code";
    src:
        url("/theme/fonts/SourceCodePro-Regular/SourceCodePro-Regular.eot")       format("embedded-opentype"),
        url("/theme/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf.woff")  format("woff"),
        url("/theme/fonts/SourceCodePro-Regular/SourceCodePro-Regular.ttf")       format("truetype");
}

@font-face {
    font-family: "dcrweb";
    src:
        url("/theme/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf.woff") format("woff"),
        url("/theme/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf") format("truetype"),
        url("/theme/fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot") format("embedded-opentype");
}

@font-face {
    font-family: "dcrweb";
    src:
        url("/theme/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf.woff") format("woff"),
        url("/theme/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf") format("truetype"),
        url("/theme/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot") format("embedded-opentype");
    font-weight: bold;
}

@font-face {
    font-family: "dcrweb";
    src:
        url("/theme/fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceSansPro-It/SourceSansPro-It.ttf.woff") format("woff"),
        url("/theme/fonts/SourceSansPro-It/SourceSansPro-It.ttf") format("truetype"),
        url("/theme/fonts/SourceSansPro-It/SourceSansPro-It.eot") format("embedded-opentype");
    font-style : italic;
}

@font-face {
    font-family: "dcrweb";
    src:
        url("/theme/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff2") format("woff2"),
        url("/theme/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf.woff") format("woff"),
        url("/theme/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.ttf") format("truetype"),
        url("/theme/fonts/SourceSansPro-SemiboldIt/SourceSansPro-SemiboldIt.eot") format("embedded-opentype");
    font-style : italic;
    font-weight: bold;
}

html, body {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "dcrweb", "Verdana", "sans-serif" !important;
}

pre, code {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "dcrweb-code", "Courier New", "monospace" !important;
}

/* END FONTS */

::selection {
  background: #0085a1;
  color: #fff;
  text-shadow: none;
}

body {
  background-color: #091440;
}

a {
  color: #2ED6A1;
}

a:focus,
a:hover {
  color: #2ED6A1;
}

blockquote {
  color: #818a91;
  font-style: italic;
}

hr {
  margin: 1.5rem 0;
}

/* ------------------------------------------------------------------------- */

.container {
  max-width: 960px;
}

.header,
.footer {
  color: #fff;
  padding: 1.5rem 0 .5rem;
}

.header {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.header a {
  color: #fff;
}

.header img {
  margin-bottom: 1rem;
}

.header .title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.header ul,
.header li {
  margin-bottom: .5rem;
}

.header ul {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: lowercase;
}

.main {
  background-color: #fff;
  padding: 1.5rem 0;
}

.footer {
  border-top: 1px solid rgba(0,0,0,.1);
}

.footer a {
  color: #fff;
}

.highlight pre {
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
}

.pagination .page-link {
  color: #333;
}

.teaser header ul {
  list-style: none;
  padding-left: 0;
}

.teaser header li {
  margin-bottom: .5rem;
}

.teaser .content p {
  margin-bottom: 0;
}

.article header ul,
.article header li {
  margin-bottom: .5rem;
}

.article header li:not(:last-child) {
  margin-right: 10px;
}

.article .content a {
  text-decoration: underline
}

@media (min-width: 576px) {
  .header .title {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .header,
  .footer {
    text-align: center;
  }

  .teaser header li {
    display: inline-block;
  }

  .teaser header li:not(:last-child) {
    margin-right: 10px;
  }
}

/* ------------------------------------------------------------------------- */

.comic-img {
  padding-top: 30px;
}

.article img {
  max-width: 100%;
}

/* Decred fonts */
